.text_centered {
  text-align: center;
}
.viewerContainer{
  width: 1000px;
  height:400px;
  position: relative;

}
body{
  background-color:#000;
}

#smallSlider span{
  color:white
}
.viewerContainer{
  width: 1000px;
  height:400px;
  position: relative;

}
.main{
  margin:10px;
  padding: 10px;

}

.container{
  margin: auto;
  width: 1200px;
  padding: 10px;
}

.boxContainer{
  margin:10px;
  padding: 10px;

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.klen{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.klun{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.cuau{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.canvas{
  width:50%;
}

.dynText{
  font-family: 'Arial Black', Gadget, sans-serif;

}
.textContainer{
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

